body {
  font-size: medium;
  margin: 15px;
  border-top: 5px solid rgb(24, 23, 24);
  border-bottom: 5px solid rgb(17, 17, 17);
  border-right: 150px solid beige;
  border-left: 150px solid beige; 
  padding: 50px;
  background-color: beige;
}
.pic {
  width: fit-content;
  height: fit-content;
  float: right;
}

.inner1 {
  border-left: 100px solid aliceblue;
  border-right: 100px solid aliceblue;
  border-top: 5px solid aliceblue;
  border-bottom: 25px solid aliceblue;
  background-color: aliceblue;
}

em {
  font-family: Lucida;
  font-size: 15;
}

.section1 {
  border: 5px solid rgb(219, 190, 190);
  text-align: center;
}

.dot1 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.dot2 {
  font-size: 20px;
  font-style:unset;
}