body {
  font-size: medium;
  margin: 100px;
  border-top: 5px solid rgb(24, 23, 24);
  border-bottom: 5px solid rgb(17, 17, 17);
  border-right: 150px solid beige;
  border-left: 150px solid beige; 
  padding: 0px;
  background-color: beige;
  background-image: url(../img/pusheen.jpg);
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 550px;
  max-height: 550px;
  border-radius: 10%;
  object-fit: contain;
  opacity: .97;
}

.outer {
  background-image: url(../img/pusheen.jpg);
  background-repeat: repeat;
}

.inner1 {
  border-left: 100px solid aliceblue;
  border-right: 100px solid aliceblue;
  border-top: 20px solid aliceblue;
  border-bottom: 25px solid aliceblue;
  background-color: aliceblue;
}

.inner2 {
  box-sizing: border-box;
  border: 5px solid black;
  padding-bottom: 25px;
  background-color: rgba(204, 167, 184, 0.562);
}

ol {
  font-size: 20px;
  text-decoration: underline;
}

em {
  font-family: Lucida;
  font-size: 15;
}

.section1 {
  border: 5px solid rgb(219, 190, 190);
  text-align: center;
}

.dot1 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.dot2 {
  font-size: 20px;
  font-style:unset;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}